
.text-field   {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 12px;
	-fx-background-color: rgba(53,89,119,0.4);
	-fx-background-radius: 10px;
	-fx-border-color: #FFFFFF;
	-fx-border-radius: 10px;
}

.text-field .scroll-pane {
    -fx-background-color: transparent;
}

.text-field .scroll-pane .viewport{
    -fx-background-color: transparent;
}


.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}