
.combo-box   {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 12px;
	-fx-background-color: rgba(53,89,119,0.4);
	-fx-background-radius: 10px;
	-fx-border-color: #FFFFFF;
	-fx-border-radius: 10px;
	-fx-border-width: 1.5px;
}

.combo-box .list-view .list-cell
{
    -fx-text-fill: black;
}

.combo-box .list-cell
{
    -fx-text-fill: white;
	-fx-background-color: rgba(53,89,119,0.4);
}

.combo-box .list-cell:hover
{
    -fx-text-fill: black;
	-fx-background-color: white;
}

.combo-box .combo-box-popup .list-cell:hover
{
	-fx-text-fill: black;
    -fx-background-color: white;
}

.combo-box :hover
{
	-fx-text-fill: black;
    -fx-background-color: white;
	-fx-border-radius: 10px;
	-fx-background-radius: 10px;
	
}

